.checkout-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: 100px;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0;
  font-size: 16px;
  align-items: center;

  .image-container {
    width: 20%;
    padding-right: 15px;
    margin-right: 5px;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .name {
    width: 24%;
    padding: 0 30px;
  }

  .price {
    width: 24%;
    padding: 0 30px;
    margin-right: 30px;
  }

  .quantity {
    width: 24%;
    padding-left: 45px;
  }

  .remove-button {
    width: 8%;
    padding-left: 15px;
    cursor: pointer;
  }
}